[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "peat"]
	path = peat
	url = https://github.com/sjl/peat
[submodule "vundle"]
	path = vim/.vim/bundle
	url = https://github.com/VundleVim/Vundle.vim.git
